{% extends "base.html" %}
{% block title %}Search{% endblock %}
{% block content %}
<div class="container mt-5">
    <form method="POST">
        <h1>搜尋</h1>
        <div class="mb-3">
            <input type="text" id="keyword" name="keyword" class="form-control" placeholder="輸入關鍵字">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>

    <br>
    {% if results %}
    <h3>搜尋結果：</h3>
    <ul>
        {% for item in results %}
        <li>
            <a href="{{ item.link }}" target="_blank">{{ item.title }}</a>
            <p>{{ item.snippet }}</p>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if recommendations %}
    <h3>推薦項目：</h3>
    <ul>
        {% for item in recommendations %}
        <li>{{ item }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}